<% var messages = getMessages() %>

<% if(messages.error){ %>

<div class="alert alert-danger" role="alert">
    <% messages.error.forEach(function(message){ %>
    <div><%= message %></div>
    <%})%>
</div>

<% }%>

<% if(errorMessage){ %>
<div class="alert alert-danger" role="alert">
    <div><%= errorMessage %></div>
</div>
<% }%>