<%- include('includes/header.ejs')%>
<% var error %>
<div class="jumbotron">
    <h1 class="display-4">程式出錯</h1>
    <p class="lead">
        <% if(error){ %>
        <%= error %>
        <% }else{ %>
        服務出現問題，請稍後在試
        <% } %>
    </p>
    <hr class="my-4">
    <p>請點擊按鈕返回首頁</p>
    <a class="btn btn-primary btn-lg" href="/" role="button">返回首頁</a>
</div>
<%- include('includes/footer.ejs')%>